<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Admin</title>
</head>
<body>
      <form th:method="PATCH" th:action="@{/admin/add}" >
        <label for="person">Choose admin: </label>
          <br/>
        <select th:object="${person}" th:field="*{id}" id="person">
              <option th:each="person : ${people}" th:value="${person.getId()}"
              th:text="${person.getName()}"></option>
        </select>
        <br/>
        <input type="submit" value="Appoint Admin"/>
      </form>
</body>
</html>